body {
    background-color:royalblue;

}
#change_default{
    background-color: grey;
    color: white;
}

    


#eventDisplay {
    box-sizing: border-box;
}

.buyBtn {
    
        position: absolute;
        bottom: 10px;
        right: 10px;

}
 #log-in-drop{
     display: none;
 }
 .card-head{
     display: flex;
     flex-direction: row;
 }

input:invalid {
    border: 2px dashed red;
  }

  #home{
      display: block;
  }

  /* event cards */
  .event-head{
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;

  }
  .newfav{
    display: none;
    justify-content: flex-end;
     
  }
  .far{
      width: 24px;
       
  }

  .btn-clicked{
      display: none !important;
  }
  .heart-favorite{
      background-color: gold;
      display: flex;
  }
  
