body {
    background-color:royalblue;

}
#change_default{
    background-color: grey;
    color: white;
}

    
#search-bar {
    background-color: grey;
    color: white;
}

#eventDisplay {
    box-sizing: border-box;
}

.buyBtn {
    
        position: absolute;
        bottom: 10px;
        right: 10px;

}

.newfav {
    
    position: absolute;
    top: 5px;
    right: 10px;

}

 #log-in-drop{
     display: none;
 }
 .card-head{
     display: flex;
     flex-direction: row;
 }

.favorited{

    border-color: gold;
}
.fav_button_clicked{
    background-color: gold !important;
}
.navbar_toggler:hover {
    background-color: grey;
}

